@page
@model Pollster_v4.Pages.QuestionsModel

@{
    ViewData["Title"] = "Questions";
}

<h2>Questions</h2>

<h4>Questions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Questions.UsersName" class="control-label"></label>
                <input asp-for="Questions.UsersName" class="form-control" value="@Model.UserId" />
                <span asp-validation-for="Questions.UsersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.Question" class="control-label"></label>
                <input asp-for="Questions.Question" class="form-control" />
                <span asp-validation-for="Questions.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.QuestionType" class="control-label"></label>
                <select asp-for="Questions.QuestionType" class="form-control" asp-items="Html.GetEnumSelectList<Models.Enums.QuestionType>()"></select>
                <span asp-validation-for="Questions.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.Option1" class="control-label"></label>
                <input asp-for="Questions.Option1" class="form-control" />
                <span asp-validation-for="Questions.Option1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.Option2" class="control-label"></label>
                <input asp-for="Questions.Option2" class="form-control" />
                <span asp-validation-for="Questions.Option2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.Option3" class="control-label"></label>
                <input asp-for="Questions.Option3" class="form-control" />
                <span asp-validation-for="Questions.Option3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions.Option4" class="control-label"></label>
                <input asp-for="Questions.Option4" class="form-control" />
                <span asp-validation-for="Questions.Option4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
